%div.col-md-12
  %h2 Report Type
  %hr

  %p#notice= notice

  %p
    %b Name:
    = @report_type.name
  %p
    %b Description:
    = @report_type.description

  = link_to 'Edit', edit_admin_report_type_path(@report_type)
  \|
  = link_to 'Back', admin_report_types_path
