%div.col-md-12
  .pull-right
    = link_to raw("#{icon('eye', 'View')}"), admin_user_path(@user), class: "btn btn-info"
    = link_to raw("#{icon('arrow-left', 'Back')}"), admin_users_path, class: "btn btn-secondary"
  %h3 Edit User
  %br

  = render 'form'
