= simple_form_for(@report) do |f|
  - if @report.errors.any?
    - for message in @report.errors.full_messages
      %div.alert.alert-danger{:role => "alert"}
        = message

  .form-inputs
    = f.association :report_type
    = f.input :name
    = f.input :notes
    = f.input :start_date
    = f.input :end_date
    = f.input :logo_enabled, label: 'Logo Enabled?'

  .form-actions
    = f.button :submit
