= simple_form_for(@report) do |f|
  = f.error_notification

  .form-inputs
    = f.association :report_type
    = f.input :report_type_option_ids, label: 'Report Type Options'
    = f.input :name
    = f.input :notes
    = f.input :start_date
    = f.input :end_date
    = f.input :logo_enabled, label: 'Logo Enabled?'

  .form-actions
    = f.button :submit
