%div.col-md-12
  %h2 Reports
  %hr

  %table.table.table-striped
    %thead.thead-inverse
      %tr
        %th Report Type
        %th Report Type Options
        %th Name
        %th Notes
        %th Start Date
        %th End Date
        %th Logo
        %th

    %tbody
      - @reports.each do |report|
        %tr
          %td= report.report_type.name
          %td= report&.report_type_options&.map(&:name).join(', ')
          %td= report.name
          %td= report.notes
          %td= report.start_date
          %td= report.end_date
          %td= report.logo_enabled
          %td
            = link_to 'Show', report
            = link_to 'Edit', edit_report_path(report)
            = link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Report', new_report_path
