%div.col-md-12
  .pull-right
    = link_to raw("#{icon('plus', 'Add')}"), new_report_path, class: "btn btn-primary"
  %h3 Reports
  %br

  %table.table.table-striped.table-responsive
    %thead.thead-default
      %tr
        %th Name
        %th Type
        %th Start
        %th End
        %th

    %tbody
      - @reports.each do |report|
        %tr
          %td= report.name
          %td= report.report_type.name
          %td= report.start_date
          %td= report.end_date
          %td
            = link_to raw("#{icon('eye')}"), report, class: "btn btn-info"
            = link_to raw("#{icon('pencil')}"), edit_report_path(report), class: "btn btn-warning"
            = link_to raw("#{icon('trash')}"), report, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
