%div.col-md-12
  .pull-right
    = link_to raw("#{icon('pencil', 'Edit')}"), edit_report_path(@report), class: "btn btn-warning"
    = link_to raw("#{icon('arrow-left', 'Back')}"), reports_path, class: "btn btn-primary"
  %h3 Report
  %hr

  %p
    %b Name:
    = @report.name
  %p
    %b Report type:
    = @report.report_type.name
  %p
    %b Report Type Options:
    = @report&.report_type_options&.map(&:name).join(', ')
  %p
    %b Start Date:
    = @report.start_date
  %p
    %b End Date:
    = @report.end_date
  %p
    %b Notes:
    = @report.notes
  %p
    %b Logo Enabled:
    = @report.logo_enabled
  %p
    %b Created At:
    = @report.created_at
  %p
    %b Updated At:
    = @report.updated_at
