%p#notice= notice

%p
  %b User:
  = @report.user
%p
  %b Report type:
  = @report.report_type
%p
  %b Report type option ids:
  = @report.report_type_option_ids
%p
  %b Name:
  = @report.name
%p
  %b Start date:
  = @report.start_date
%p
  %b End date:
  = @report.end_date
%p
  %b Notes:
  = @report.notes
%p
  %b Logo enabled:
  = @report.logo_enabled

= link_to 'Edit', edit_report_path(@report)
\|
= link_to 'Back', reports_path
