%div.col-md-12
  .pull-right
    = link_to raw("#{icon('pencil', 'Edit')}"), edit_report_path(@report), class: "btn btn-warning"
    = link_to raw("#{icon('arrow-left', 'Back')}"), reports_path, class: "btn btn-secondary"
  %h3 Report
  %br

  %table.table
    %tbody
      %tr
        %td
          %b Name:
        %td= @report.name
      %tr
        %td
          %b Report type:
        %td= @report.report_type.name
      %tr
        %td
          %b Report Type Options:
        %td= @report&.report_type_options&.map(&:name).join(', ')
      %tr
        %td
          %b Start Date:
        %td= @report.start_date
      %tr
        %td
          %b End Date:
        %td= @report.end_date
      %tr
        %td
          %b Notes:
        %td= @report.notes
      %tr
        %td
          %b Logo Enabled:
        %td= @report.logo_enabled
      %tr
        %td
          %b Created At:
        %td= @report.created_at
      %tr
        %td
          %b Updated At:
        %td= @report.updated_at
